
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>注册</title>
		<!-- bootstrap样式，地图插件使用 -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<!-- 样式 -->
		<link rel="stylesheet" href="../../css/style.css" />
		<!-- 主题（主要颜色设置） -->
		<link rel="stylesheet" href="../../css/theme.css" />
		<!-- 通用的css -->
		<link rel="stylesheet" href="../../css/common.css" />
	</head>
	<style>
		html::after {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			display: block;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			z-index: -1;
		}
		#swiper {
			overflow: hidden;
			margin: 0 auto;
		}
		#swiper .layui-carousel-ind li {
			width: 16px;
			height: 16px;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(254, 190, 0, 1);
			border-radius: 100px;
			background-color: $template2.front.base.swiper.indicatorStyle.backgroundColor;
			box-shadow: ;
		}
		#swiper .layui-carousel-ind li.layui-this {
			width: 16px;
			height: 16px;
			border-width: 0;
			border-style: ;
			border-color: rgba(254, 190, 0, 1);
			border-radius: 100px;
			background-color: rgba(254, 190, 0, 1);
			box-shadow: ;
		}
		
		button, button:focus {
			outline: none;
		}
		
		.data-add-container .add .layui-select-title .layui-unselect {
			padding: 0 12px;
			height: 40px;
			font-size: 14px;
			color: #333;
			border-radius: 4px;
			border-width: 1px;
			border-style: ;
			border-color: $template2.front.add.select.borderColor;
			background-color: #fff;
			box-shadow: ;
			text-align: left;
		}
		.data-add-container .add .layui-form-item {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-form-label {
			margin: 0;
			position: inherit;
			background: transparent;
			border: 0;
		}
		.data-add-container .add .layui-input-block {
			margin: 0;
			flex: 1;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-input-inline {
			margin: 0;
			flex: 1;
			display: flex;
		}
	</style>
	<body style="background: #EEEEEE; ">


		<div id="app">

			<!--
			<div class="layui-carousel" id="swiper">
				<div carousel-item id="swiper-item">
					<div v-for="(item,index) in swiperList" v-bind:key="index">
						<img class="swiper-item" :src="item.img">
					</div>
				</div>
			</div> -->
			<div class="layui-carousel" id="swiper" :style='{"boxShadow":"","margin":"0 auto","borderColor":"rgba(0, 0, 0, 0.99)","borderRadius":"","borderWidth":"1","width":"100%","borderStyle":""}'>
			  <div carousel-item id="swiper-item">
				<div v-for="(item,index) in swiperList" :key="index">
					<img style="width: 100%;height: 100%;object-fit:cover;" :src="item.img" />
				</div>
			  </div>
			</div>
			<!-- 轮播图 -->

			<div class="data-add-container" :style='{"padding":"20px","boxShadow":"","margin":"30px auto","backgroundColor":"#fff","borderRadius":"10px","borderWidth":"0","borderStyle":""}'>

				<form class="layui-form layui-form-pane add" lay-filter="myForm">
					
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">工资年月：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' type="text" name="gongzinianyue" id="gongzinianyue" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">基本工资：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.jibengongzi" type="text" :readonly="ro.jibengongzi" name="jibengongzi" id="jibengongzi" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">奖金：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.jiangjin" type="text" :readonly="ro.jiangjin" name="jiangjin" id="jiangjin" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">罚款：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.fakuan" type="text" :readonly="ro.fakuan" name="fakuan" id="fakuan" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">应发工资：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="yingfagongzi"  type="text" name="yingfagongzi" id="yingfagongzi" disabled="disabled"  autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">结算日期：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' type="text" name="jiesuanriqi" id="jiesuanriqi" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">账号：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.zhanghao" type="text" :readonly="ro.zhanghao" name="zhanghao" id="zhanghao" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">姓名：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.xingming" type="text" :readonly="ro.xingming" name="xingming" id="xingming" autocomplete="off" class="layui-input">
						</div>
					</div>


					<div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item">
						<div class="layui-input-block" style="text-align: right;">
							<button :style='{"padding":"0 10px","boxShadow":"","margin":"0 10px","borderColor":"#ccc","backgroundColor":"rgba(254, 190, 0, 1)","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"15%","fontSize":"15px","borderStyle":"","height":"44px"}' class="layui-btn btn-submit" lay-submit lay-filter="*">提交</button>
							<button :style='{"padding":"0 10px","boxShadow":"","margin":"0 10px","borderColor":"rgba(118, 67, 6, 1)","backgroundColor":"#fff","color":"rgba(118, 67, 6, 1)","borderRadius":"8px","borderWidth":"1px","width":"15%","fontSize":"15px","borderStyle":"","height":"44px"}' type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../../layui/layui.js"></script>
		<script src="../../js/vue.js"></script>
		<!-- 组件配置信息 -->
		<script src="../../js/config.js"></script>
		<!-- 扩展插件配置信息 -->
		<script src="../../modules/config.js"></script>
		<!-- 工具方法 -->
		<script src="../../js/utils.js"></script>
		<!-- 校验格式工具类 -->
		<script src="../../js/validate.js"></script>
		<!-- 地图 -->
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ca04cee7ac952691aa67a131e6f0cee0"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.AMapPositionPicker.js"></script>

		<script>
			var jquery = $;
			
			var vue = new Vue({
				el: '#app',
				data: {
					// 轮播图
					swiperList: [{
						img: '../../img/banner.jpg'
					}],
					dataList: [],
      					ro:{
				        gongzinianyue : false,
				        jibengongzi : false,
				        jiangjin : false,
				        fakuan : false,
				        yingfagongzi : false,
				        jiesuanriqi : false,
				        zhanghao : false,
				        xingming : false,
              				},
                    detail: {
                        gongzinianyue: '',
                        jibengongzi: '',
                        jiangjin: '',
                        fakuan: '',
                        yingfagongzi: '',
                        jiesuanriqi: '',
                        zhanghao: '',
                        xingming: '',
                    },
					centerMenu: centerMenu
				},
				updated: function() {
					layui.form.render('select', 'myForm');
				},
                computed: {
		    yingfagongzi: {
                    get: function () {
                        return 0+parseFloat(this.detail.jibengongzi)+parseFloat(this.detail.jiangjin)-this.detail.fakuan || ''
                    }
                    },
                },
				methods: {
					jump(url) {
						jump(url)
					}
				}
			})


			layui.use(['layer', 'element', 'carousel', 'http', 'jquery', 'form', 'upload', 'laydate','tinymce'], function() {
				var layer = layui.layer;
				var element = layui.element;
				var carousel = layui.carousel;
				var http = layui.http;
				var jquery = layui.jquery;
				var form = layui.form;
				var upload = layui.upload;
				var laydate = layui.laydate;
                var tinymce = layui.tinymce

				// 获取轮播图 数据
				http.request('config/list', 'get', {
					page: 1,
					limit: 5
				}, function(res) {
					if (res.data.list.length > 0) {
						var swiperItemHtml = '';
						for (let item of res.data.list) {
							if (item.name.indexOf('picture') >= 0 && item.value && item.value != "" && item.value != null) {
								swiperItemHtml +=
									'<div>' +
									'<img style="width: 100%;height: 100%;object-fit:cover;" class="swiper-item" src="' + item.value + '">' +
									'</div>';
							}
						}
						jquery('#swiper-item').html(swiperItemHtml);
						// 轮播图
						vue.$nextTick(() => {
						  carousel.render({
						  	elem: '#swiper',
							width: '100%',
						  	height: '500px',
						  	arrow: 'hover',
						  	anim: 'default',
						  	autoplay: 'true',
						  	interval: '3000',
						  	indicator: 'inside'
						  });
						
						})
						// carousel.render({
						// 	elem: '#swiper',
						// 	width: swiper.width,height:swiper.height,
						// 	arrow: swiper.arrow,
						// 	anim: swiper.anim,
						// 	interval: swiper.interval,
						// 	indicator: "none"
						// });
					}
				});

				laydate.render({
					elem: '#gongzinianyue',
					type: 'datetime'
				});
				laydate.render({
					elem: '#jiesuanriqi',
					type: 'datetime'
				});
				
                // session独取
				let table = localStorage.getItem("userTable");
				http.request(`${table}/session`, 'get', {}, function(data) {
					// 表单赋值
					//form.val("myForm", data.data);
					data = data.data
					for (var key in data){
                                        }
				});

                // 跨表
                if(http.getParam('corss')){
					var obj = JSON.parse(localStorage.getItem('crossObj'));
					for (var o in obj){
					if(o=='gongzinianyue'){
          	                                vue.detail[o] = obj[o];
						vue.ro.gongzinianyue = true;
						continue;
                                        }
					if(o=='jibengongzi'){
          	                                vue.detail[o] = obj[o];
						vue.ro.jibengongzi = true;
						continue;
                                        }
					if(o=='jiangjin'){
          	                                vue.detail[o] = obj[o];
						vue.ro.jiangjin = true;
						continue;
                                        }
					if(o=='fakuan'){
          	                                vue.detail[o] = obj[o];
						vue.ro.fakuan = true;
						continue;
                                        }
					if(o=='yingfagongzi'){
          	                                vue.detail[o] = obj[o];
						vue.ro.yingfagongzi = true;
						continue;
                                        }
					if(o=='jiesuanriqi'){
          	                                vue.detail[o] = obj[o];
						vue.ro.jiesuanriqi = true;
						continue;
                                        }
					if(o=='zhanghao'){
          	                                vue.detail[o] = obj[o];
						vue.ro.zhanghao = true;
						continue;
                                        }
					if(o=='xingming'){
          	                                vue.detail[o] = obj[o];
						vue.ro.xingming = true;
						continue;
                                        }
                                        }
				}
				

				// 提交
				form.on('submit(*)', function(data) {
					data = data.field;
					
                    // 数据校验
                    if(!isIntNumer(data.jibengongzi)){
                        layer.msg('基本工资应输入整数', {
							time: 2000,
							icon: 5
						});
                        return false
                    }
                    if(!isIntNumer(data.jiangjin)){
                        layer.msg('奖金应输入整数', {
							time: 2000,
							icon: 5
						});
                        return false
                    }
                    if(!isIntNumer(data.fakuan)){
                        layer.msg('罚款应输入整数', {
							time: 2000,
							icon: 5
						});
                        return false
                    }

					// 跨表计算
					
                    // 比较大小
					
					// 提交数据
					http.requestJson('gongzi' + '/add', 'post', data, function(res) {
					 	layer.msg('提交成功', {
					 		time: 2000,
					 		icon: 6
					 	}, function() {
					 		back();
						});
					 });

					return false
				});

			});
		</script>
	</body>
</html>
