
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>注册</title>
		<!-- bootstrap样式，地图插件使用 -->
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<!-- 样式 -->
		<link rel="stylesheet" href="../../css/style.css" />
		<!-- 主题（主要颜色设置） -->
		<link rel="stylesheet" href="../../css/theme.css" />
		<!-- 通用的css -->
		<link rel="stylesheet" href="../../css/common.css" />
	</head>
	<style>
		html::after {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			content: '';
			display: block;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;
			z-index: -1;
		}
		#swiper {
			overflow: hidden;
			margin: 0 auto;
		}
		#swiper .layui-carousel-ind li {
			width: 16px;
			height: 16px;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(254, 190, 0, 1);
			border-radius: 100px;
			background-color: $template2.front.base.swiper.indicatorStyle.backgroundColor;
			box-shadow: ;
		}
		#swiper .layui-carousel-ind li.layui-this {
			width: 16px;
			height: 16px;
			border-width: 0;
			border-style: ;
			border-color: rgba(254, 190, 0, 1);
			border-radius: 100px;
			background-color: rgba(254, 190, 0, 1);
			box-shadow: ;
		}
		
		button, button:focus {
			outline: none;
		}
		
		.data-add-container .add .layui-select-title .layui-unselect {
			padding: 0 12px;
			height: 40px;
			font-size: 14px;
			color: #333;
			border-radius: 4px;
			border-width: 1px;
			border-style: ;
			border-color: $template2.front.add.select.borderColor;
			background-color: #fff;
			box-shadow: ;
			text-align: left;
		}
		.data-add-container .add .layui-form-item {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-form-label {
			margin: 0;
			position: inherit;
			background: transparent;
			border: 0;
		}
		.data-add-container .add .layui-input-block {
			margin: 0;
			flex: 1;
		}
		.data-add-container .layui-form-pane .layui-form-item[pane] .layui-input-inline {
			margin: 0;
			flex: 1;
			display: flex;
		}
	</style>
	<body style="background: #EEEEEE; ">


		<div id="app">

			<!--
			<div class="layui-carousel" id="swiper">
				<div carousel-item id="swiper-item">
					<div v-for="(item,index) in swiperList" v-bind:key="index">
						<img class="swiper-item" :src="item.img">
					</div>
				</div>
			</div> -->
			<div class="layui-carousel" id="swiper" :style='{"boxShadow":"","margin":"0 auto","borderColor":"rgba(0, 0, 0, 0.99)","borderRadius":"","borderWidth":"1","width":"100%","borderStyle":""}'>
			  <div carousel-item id="swiper-item">
				<div v-for="(item,index) in swiperList" :key="index">
					<img style="width: 100%;height: 100%;object-fit:cover;" :src="item.img" />
				</div>
			  </div>
			</div>
			<!-- 轮播图 -->

			<div class="data-add-container" :style='{"padding":"20px","boxShadow":"","margin":"30px auto","backgroundColor":"#fff","borderRadius":"10px","borderWidth":"0","borderStyle":""}'>

				<form class="layui-form layui-form-pane add" lay-filter="myForm">
					
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">订单编号：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.dingdanbianhao" type="text" :readonly="ro.dingdanbianhao" name="dingdanbianhao" id="dingdanbianhao" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">客户姓名：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.kehuxingming" type="text" :readonly="ro.kehuxingming" name="kehuxingming" id="kehuxingming" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">联系电话：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.lianxidianhua" type="text" :readonly="ro.lianxidianhua" name="lianxidianhua" id="lianxidianhua" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">生产物品：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.shengchanwupin" type="text" :readonly="ro.shengchanwupin" name="shengchanwupin" id="shengchanwupin" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">生产数量：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' v-model="detail.shengchanshuliang" type="text" :readonly="ro.shengchanshuliang" name="shengchanshuliang" id="shengchanshuliang" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
						<label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">下单时间：</label>
						<div class="layui-input-block">
							<input :style='{"padding":"0 12px","boxShadow":"","backgroundColor":"#fff","color":"#333","borderRadius":"4px","textAlign":"left","borderWidth":"1px","fontSize":"14px","borderStyle":"","height":"40px"}' type="text" name="xiadanshijian" id="xiadanshijian" autocomplete="off" class="layui-input">
						</div>
					</div>
                    <div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item" pane>
                        <label  :style='{"width":"100px","padding":"0 12px 0 0","fontSize":"14px","color":"#333","textAlign":"center"}' class="layui-form-label">生产进度：</label>
                        <div class="layui-input-block">
                            <select name="shengchanjindu" id="shengchanjindu" lay-filter="shengchanjindu">
                                <option value="">请选择</option>
                                <option v-for="(item,index) in shengchanjindu" v-bind:key="index" :value="item">{{item}}</option>
                            </select>
                        </div>
                    </div>


					<div  :style='{"padding":"10px","boxShadow":"0 0 4px #febe00","margin":"0 0 10px 0","borderColor":"rgba(9, 249, 13, 0.99)","backgroundColor":"rgba(255, 255, 255, 255)","borderRadius":"4px","borderWidth":"0 0 1px 0","borderStyle":""}' class="layui-form-item">
						<div class="layui-input-block" style="text-align: right;">
							<button :style='{"padding":"0 10px","boxShadow":"","margin":"0 10px","borderColor":"#ccc","backgroundColor":"rgba(254, 190, 0, 1)","color":"#fff","borderRadius":"8px","borderWidth":"0","width":"15%","fontSize":"15px","borderStyle":"","height":"44px"}' class="layui-btn btn-submit" lay-submit lay-filter="*">提交</button>
							<button :style='{"padding":"0 10px","boxShadow":"","margin":"0 10px","borderColor":"rgba(118, 67, 6, 1)","backgroundColor":"#fff","color":"rgba(118, 67, 6, 1)","borderRadius":"8px","borderWidth":"1px","width":"15%","fontSize":"15px","borderStyle":"","height":"44px"}' type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<script src="../../layui/layui.js"></script>
		<script src="../../js/vue.js"></script>
		<!-- 组件配置信息 -->
		<script src="../../js/config.js"></script>
		<!-- 扩展插件配置信息 -->
		<script src="../../modules/config.js"></script>
		<!-- 工具方法 -->
		<script src="../../js/utils.js"></script>
		<!-- 校验格式工具类 -->
		<script src="../../js/validate.js"></script>
		<!-- 地图 -->
		<script type="text/javascript" src="../../js/jquery.js"></script>
		<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=ca04cee7ac952691aa67a131e6f0cee0"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.AMapPositionPicker.js"></script>

		<script>
			var jquery = $;
			
			var vue = new Vue({
				el: '#app',
				data: {
					// 轮播图
					swiperList: [{
						img: '../../img/banner.jpg'
					}],
					dataList: [],
      					ro:{
				        dingdanbianhao : false,
				        kehuxingming : false,
				        lianxidianhua : false,
				        shengchanwupin : false,
				        shengchanshuliang : false,
				        shengchanyuanliao : false,
				        xiadanshijian : false,
				        shengchanjindu : false,
              				},
                    detail: {
                        dingdanbianhao: genTradeNo(),
                        kehuxingming: '',
                        lianxidianhua: '',
                        shengchanwupin: '',
                        shengchanshuliang: '',
                        shengchanyuanliao: '',
                        xiadanshijian: '',
                        shengchanjindu: '',
                    },
					shengchanjindu: [],
					centerMenu: centerMenu
				},
				updated: function() {
					layui.form.render('select', 'myForm');
				},
                computed: {
                },
				methods: {
					jump(url) {
						jump(url)
					}
				}
			})


			layui.use(['layer', 'element', 'carousel', 'http', 'jquery', 'form', 'upload', 'laydate','tinymce'], function() {
				var layer = layui.layer;
				var element = layui.element;
				var carousel = layui.carousel;
				var http = layui.http;
				var jquery = layui.jquery;
				var form = layui.form;
				var upload = layui.upload;
				var laydate = layui.laydate;
                var tinymce = layui.tinymce

				// 获取轮播图 数据
				http.request('config/list', 'get', {
					page: 1,
					limit: 5
				}, function(res) {
					if (res.data.list.length > 0) {
						var swiperItemHtml = '';
						for (let item of res.data.list) {
							if (item.name.indexOf('picture') >= 0 && item.value && item.value != "" && item.value != null) {
								swiperItemHtml +=
									'<div>' +
									'<img style="width: 100%;height: 100%;object-fit:cover;" class="swiper-item" src="' + item.value + '">' +
									'</div>';
							}
						}
						jquery('#swiper-item').html(swiperItemHtml);
						// 轮播图
						vue.$nextTick(() => {
						  carousel.render({
						  	elem: '#swiper',
							width: '100%',
						  	height: '500px',
						  	arrow: 'hover',
						  	anim: 'default',
						  	autoplay: 'true',
						  	interval: '3000',
						  	indicator: 'inside'
						  });
						
						})
						// carousel.render({
						// 	elem: '#swiper',
						// 	width: swiper.width,height:swiper.height,
						// 	arrow: swiper.arrow,
						// 	anim: swiper.anim,
						// 	interval: swiper.interval,
						// 	indicator: "none"
						// });
					}
				});

				laydate.render({
					elem: '#xiadanshijian',
					type: 'datetime'
				});
				vue.shengchanjindu = '0,25%,50%,100%'.split(',')
				
                // session独取
				let table = localStorage.getItem("userTable");
				http.request(`${table}/session`, 'get', {}, function(data) {
					// 表单赋值
					//form.val("myForm", data.data);
					data = data.data
					for (var key in data){
                                        }
				});

                // 跨表
                if(http.getParam('corss')){
					var obj = JSON.parse(localStorage.getItem('crossObj'));
					for (var o in obj){
					if(o=='dingdanbianhao'){
          	                                vue.detail[o] = obj[o];
						vue.ro.dingdanbianhao = true;
						continue;
                                        }
					if(o=='kehuxingming'){
          	                                vue.detail[o] = obj[o];
						vue.ro.kehuxingming = true;
						continue;
                                        }
					if(o=='lianxidianhua'){
          	                                vue.detail[o] = obj[o];
						vue.ro.lianxidianhua = true;
						continue;
                                        }
					if(o=='shengchanwupin'){
          	                                vue.detail[o] = obj[o];
						vue.ro.shengchanwupin = true;
						continue;
                                        }
					if(o=='shengchanshuliang'){
          	                                vue.detail[o] = obj[o];
						vue.ro.shengchanshuliang = true;
						continue;
                                        }
					if(o=='shengchanyuanliao'){
          	                                vue.detail[o] = obj[o];
						vue.ro.shengchanyuanliao = true;
						continue;
                                        }
					if(o=='xiadanshijian'){
          	                                vue.detail[o] = obj[o];
						vue.ro.xiadanshijian = true;
						continue;
                                        }
					if(o=='shengchanjindu'){
          	                                vue.detail[o] = obj[o];
						vue.ro.shengchanjindu = true;
						continue;
                                        }
                                        }
				}
				

				// 提交
				form.on('submit(*)', function(data) {
					data = data.field;
					
                    // 数据校验

					// 跨表计算
					
                    // 比较大小
					
					// 提交数据
					http.requestJson('dingdan' + '/add', 'post', data, function(res) {
					 	layer.msg('提交成功', {
					 		time: 2000,
					 		icon: 6
					 	}, function() {
					 		back();
						});
					 });

					return false
				});

			});
		</script>
	</body>
</html>
